section.education_section{
    display: grid;
    grid-template-rows: 3(auto);
}

h1.title{
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #D9C0C5;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    justify-self: center;
}

img.portrait_image{
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 90%;
}

div.education_details{
    grid-area: 3 / 1 / 4 / 2;
    border: 1px solid #D9C0C5;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

@media screen and (min-width: 767px) {
    section.education_section{
        grid-template-columns:65% 35%;
        grid-template-rows: auto auto;
    }
    
    h1.title{
        grid-area: 1 / 1 / 2 / 2;
        justify-self: unset;
    }
    
    img.portrait_image{
        grid-area: 1 / 2 / 3 / 3;
        margin: 0;
     }
    
    div.education_details{
        grid-area: 2 / 1 / 3 / 2;
        border: none;
        padding: 0;
        width: 90%;
    }
}
@media screen and (min-width: 991px) {
    section.education_section{
        grid-template-columns: 90%;
        grid-template-rows: repeat(3, auto);
    }
    
    h1.title{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    img.portrait_image{
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 20px;
        width: 50%;
     }
    
    div.education_details{
        grid-area: 3 / 1 / 4 / 2;
    }
}

@media screen and (min-width: 1023px) {
    section.education_section{
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    
    h1.title{
        grid-area: 1 / 1 / 2 / 2;
        align-self: flex-end;
    }
    
    img.portrait_image{
        grid-area: 1 / 2 / 3 / 3;
        width: 100%;
        margin: 0;
     }
    
    div.education_details{
        grid-area: 2 / 1 / 3 / 2;
        width: 82%;
    }
}
@media screen and (min-width: 1440px) {
    section.education_section{
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    
    h1.title{
        grid-area: 1 / 1 / 2 / 2;
    }
    
    img.portrait_image{
        grid-area: 1 / 2 / 3 / 3;
        width: 80%;
     }
    
    div.education_details{
        grid-area: 2 / 1 / 3 / 2;
        width: 89%;
    }
}