main.main{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
div.intro_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.intro_text h1{
    width: 45%;
}

div.intro_text{
    grid-area: 2 / 1 / 3 / 2;
}

img.portrait_image{
    grid-area: 1 / 1 / 2 / 2;
    width: 60%;
}

div.socials{
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media screen and (min-width: 767px) {
    main.main{
        grid-template-columns: 45% 45%;
        grid-template-rows: auto auto;
        gap: 15%;
        align-items: center;
    }
    div.intro_text{
        grid-area: 1 / 1 / 2 / 2;
        width: 95%;
    }

    img.portrait_image{
        grid-area: 1 / 2 / 3 / 3;
        width: 100%;
    }

    div.socials{
        grid-area: 2 / 1 / 3 / 2;
    }
}
@media screen and (min-width: 991px) {
    main.main{
        grid-template-columns: 35% 35%;
        grid-template-rows: auto auto;
        gap: unset;
        align-items: center;
        justify-content: center;
    }
    div.intro_text{
        grid-area: 2 / 1 / 3 / 2;
    }

    img.portrait_image{
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 20px;
        width: 85%;
    }

    div.socials{
        grid-area: 2 / 2 / 3 / 3;
        align-self:flex-end;
    }
}

@media screen and (min-width: 1023px) {
    main.main{
        grid-template-columns: 70% 50%;
        grid-template-rows: auto auto;
        gap: unset;
        padding-left: 15%;
        align-items: center;
        justify-content: center;
    }
    div.intro_text{
        grid-area: 1 / 1 / 2 / 3;
        width: 40%;
        margin-bottom: 20px;
    }

    img.portrait_image{
        grid-area: 2 / 1 / 3 / 2;
    }

    div.socials{
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
    }
}
@media screen and (min-width: 1440px) {
    main.main{
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
        gap: unset;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }
    div.intro_text{
        grid-area: 1 / 1 / 3 / 2;
        width: unset;
        align-self: baseline;
    }

    img.portrait_image{
        grid-area: 1 / 2 / 2 / 3;
        margin-left: 50px;
    }

    div.socials{
        grid-area: 2 / 2 / 3 / 3;
        margin-left: 50px;
    }
}